*{
    margin:0%;
    padding:0%;
}
html,body{
    /* background:linear-gradient(45deg,#1f1f1f,#564ca1,#a1744c); */
    background:linear-gradient(45deg,#1ebe36,#ebedd8,#f97108);
}
h1{
    text-align:center;
    font-size: 4vw;
}
.container{
    height:680px;
    width:400px;
    border:2px solid red;
    margin:auto;
    background:linear-gradient(45deg,#1ebe36,#ebedd8,#f97108);
    border-radius: 30px;
    box-shadow:-5px,-3px,1px rgba(10,119,0.5);

}

 .first{
    display: flex;
    align-items: center;
    justify-content: center;
   /* background-color: brown; */
   margin: 2px;
    padding:10px 0px;
   /* max-width: 40vw; */
   /* background: transparent; */
   box-shadow:-5px,-3px,1px rgba(10,119,0.5);

 }
 button{
    height:70px;
    width:70px;
    /* overflow: hidden; */
     padding:20px;
     margin:3px;
     /* background-color:red ; */
     /* margin:1px 1px 1px 1px; */
     border-radius: 50%;
     cursor:pointer;
     color:blue;
     font-size: 25px;
     border:none;
     box-shadow:-5px -5px 15px 2px rgba(34,56,41,23);


} 
#serch{
    height:120px;
    width:280px;
    font-size:30px;
    text-align:right;
}